<ion-app>
    <div>
        <ion-router-outlet (activate)="handleActivatedRouter()"></ion-router-outlet>
    </div>
</ion-app>

<!--
text-grey-50
bg-grey-50
border-grey-50
text-grey-100
bg-grey-100
border-grey-100
text-grey-200
bg-grey-200
border-grey-200
text-grey-light
bg-grey-light
border-grey-light
text-grey-300
bg-grey-300
border-grey-300
text-grey-400
bg-grey-400
border-grey-400
text-grey-500
bg-grey-500
border-grey-500
text-grey
bg-grey
border-grey
text-grey-600
bg-grey-600
border-grey-600
text-grey-700
bg-grey-700
border-grey-700
text-grey-dark
bg-grey-dark
border-grey-dark

text-primary-extra-light
bg-primary-extra-light
border-primary-extra-light
text-primary-light
bg-primary-light
border-primary-light
text-primary-medium
bg-primary-medium
border-primary-medium
text-primary
bg-primary
border-primary
text-primary-shade
bg-primary-shade
border-primary-shade
hover:text-primary-shade
hover:bg-primary-shade
hover:border-primary-shade
text-primary-dark
bg-primary-dark
border-primary-dark

text-secondary-light
bg-secondary-light
border-secondary-light
text-secondary
bg-secondary
border-secondary
text-secondary-dark
bg-secondary-dark
border-secondary-dark

text-tertiary-light
bg-tertiary-light
border-tertiary-light
text-tertiary
bg-tertiary
border-tertiary
text-tertiary-dark
bg-tertiary-dark
border-tertiary-dark

text-success-light
bg-success-light
border-success-light
text-success
bg-success
border-success
text-success-dark
bg-success-dark
border-success-dark

text-warning-light
bg-warning-light
border-warning-light
text-warning
bg-warning
border-warning
text-warning-dark
bg-warning-dark
border-warning-dark

text-danger-light
bg-danger-light
border-danger-light
text-danger
bg-danger
border-danger
text-danger-dark
bg-danger-dark
border-danger-dark

text-orange-light
bg-orange-light
border-orange-light
text-orange
bg-orange
border-orange
text-orange-dark
bg-orange-dark
border-orange-dark

text-accent-blue
bg-accent-blue
border-accent-blue

text-accent-orange
bg-accent-orange
border-accent-orange

text-accent-red
bg-accent-red
border-accent-red

text-accent-green
bg-accent-green
border-accent-green

text-accent-yellow
bg-accent-yellow
border-accent-yellow

text-accent-purple
bg-accent-purple
border-accent-purple

text-accent-brown
bg-accent-brown
border-accent-brown

text-accent-soft-yellow
bg-accent-soft-yellow
border-accent-soft-yellow

text-accent-soft-green
bg-accent-soft-green
border-accent-soft-green

text-accent-soft-red
bg-accent-soft-red
border-accent-soft-red

text-accent-karirhub
bg-accent-karirhub
border-accent-karirhub

text-accent-skillhub
bg-accent-skillhub
border-accent-skillhub

text-accent-sertihub
bg-accent-sertihub
border-accent-sertihub

text-accent-bizhub
bg-accent-bizhub
border-accent-bizhub

text-accent-konseling
bg-accent-konseling
border-accent-konseling
-->
