<ion-tabs>
    <ion-tab-bar slot="bottom" color="blank" class="h-14" style="--background: white;">
        <div class="container bg-blank no-border flex items-center justify-center">
            <ion-tab-button tab="home">
                <img src="assets/sm/icon/home.svg" class="w-6 h-6" alt="" />
                <ion-label class="text-xs mt-1">Beranda</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="mfe">
                <img src="assets/sm/icon/briefcase.svg" class="w-6 h-6" alt="" />
                <ion-label class="text-xs mt-1">Akun</ion-label>
            </ion-tab-button>
        </div>
    </ion-tab-bar>
</ion-tabs>
